In [ ]:
import os
import sys

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.etl import transform as t
from src.etl import extract as e


#obter dados 
df = e.extrair_alunos_csv('../data/raw/alunos.csv')

In [5]:
#Transformar dados
df_clean = t.limpar_alunos_csv(df)
df_clean

   id_aluno            nome                email     senha       telefone
0       1.0       Ana Silva  ana.silva@email.com     12345    85999990000
1       2.0    Joao Pereira       joao@email.com  senha123    85988887777
2       3.0  Maria Oliveira        Não Informado  senha123  Não Informado
3       4.0   Não Informado        Não Informado      pass    85911110000
4       5.0    Carlos Sousa        Não Informado    c4rl0s  Não Informado
5       7.0    Beatriz Lima     b.lima@email.com      btrz    85900001111
6       8.0    Pedro Santos       pedro@mail.com  senha123  Não Informado
7       9.0           Luizf        Não Informado    senha!  Não Informado
8      10.0   Não Informado        Não Informado  senha123    85912341234